body {
    width: auto;
    height: auto;
    margin: 0;
    background-color: #222;

    background-image: 
        linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
        linear-gradient(to right, #10553f 0.05rem, transparent 0.01rem),
        linear-gradient(to bottom, #10553f 0.05rem, transparent 0.01rem);
    background-size: 4vh 4vh;
    background-position: center;
    transition-duration: 200ms;
    z-index: -10;

    overflow-x: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    font-family: "Rubik Pixels", system-ui;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: aliceblue;
}