.off-screen-menu {
    display: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;
    z-index: 5;
}



#banner {
    display: none;
}

.nav {
    display: flex;
    width: 100vw;
    height: 9vh;
    background-color: rgb(7, 8, 10);
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.dropdowns {
    display: none;
    margin-left: 80vw;
}
.dropdowns button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: white;
    position: relative;
    padding: 2vh;
}

.dropGamesContent {
    text-decoration: none;
    color: white;
    display: block;
    display: none;
    gap: 2vh;
}

.dropGamesContent.active {
    display: block;
}



@media (max-width: 768px) {

.off-screen-menu {
    display: flex;
    
}

.off-screen-menu a {
    text-decoration: none;
    color: aliceblue;
}

.content {
    margin-top: 10vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


.off-screen-menu {
    background-color: rgb(14, 16, 20);
    height: 100vh;
    width: 75vw;
    position: fixed;
    top: 0;
    left: -75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}

.off-screen-menu.active {
    left: 0;
}

.nav {
    margin: auto;
    margin-top: -10vh;
    width: 100vw;
    height: 9vh;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    background-color: rgb(7, 8, 10);
    position: fixed;
    align-items: center;
    z-index: 1000;
    justify-content: center;
    min-height: 50px;
    max-height: 65px;
}


#banner {
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 8vh;
    min-height: 50px;
    max-height: 60px;
}

.ham-menu {
    max-height: 40px;
    max-width: 32px;
    min-height: 30px;
    min-width: 24px;
    height: 6vh;
    width: 4.8vh;
    margin-right: auto;
    position: relative;
}

.ham-menu span {
    height: 0.5vh;
    min-height: 3px;
    max-height: 4px;
    width: 100%;
    background-color: aliceblue;
    position: absolute;
    border-radius: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}


.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

/* ANIMATION */
.ham-menu.active span {
    background-color: #10553f;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

}