body {
    width: auto;
    height: 135vh;
    margin: 0;
    background-color: #222;

    background-image: 
        linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
        linear-gradient(to right, #10553f 0.05rem, transparent 0.01rem),
        linear-gradient(to bottom, #10553f 0.05rem, transparent 0.01rem);
    background-size: 4vh 4vh;
    background-position: center;
    transition-duration: 200ms;
    z-index: -10;

    overflow-x: hidden;
}
.content {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

#mainText {
    max-width: 50vw;
    font-size: 2.8vh;
    font-family: "Rubik Pixels", system-ui;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: aliceblue;
    margin: auto;
}

#calendarHolder {
    margin-top: 2vh;
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    z-index: -1;
}

#calendar {
    border-radius: 2vh;
}


.gamesContainer {
    width: 80vw;
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 2vw;
}

.gameWidget {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    width: 20vw;
    height: 15vw;
    background-color: #111;
    border-radius: 1vw;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    color: white;

    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    
    border: black solid 3px;
    z-index: 1;
}



.gameWidget:hover {
    transform: scale(1.03);
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.6);
}

/* Image area */
.widgetImageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 5vw); /* 5vw of the bottom is for text */
    overflow: hidden;
    opacity: 0.6;
    transition: .3s ease;
}

.gameWidget:hover .widgetImageContainer{
    transition: .3s ease;
    opacity: 1;
}

.widgetImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Info bar at bottom */
.widgetBottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vw;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Text styles */
.widgetText {
    font-size: 1vw;
    margin: 0.2vw 0 0 0;
    font-family: "Rubik Pixels", system-ui;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: aliceblue;
}

.widgetInfo {
    font-size: 1vw;
    margin: 0.2vw 0 0 0;
    opacity: 0.8;
    font-family: "Rubik Pixels", system-ui;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: aliceblue;
}

@media (max-width: 768px) {

    #mainText {
        max-width: 80vw;
    }


    #calendar{
        width: 90vw;
        height: 60vh;
    }

    .gamesContainer {
        width: 80vw;
        display: flex;
        flex-direction: column;
        margin: auto;
        gap: 3vh;
    }

    .gameWidget {
        width: 80vw;
        height: 40vw;
    }

    .widgetBottom {
        height: 14vw;
        z-index: 10;
    }
    .widgetImageContainer {
        height: 25vw;
    }

    .widgetInfo {
        display: none;
    }

    .widgetText {
        font-size: 5vw;
    }
}